/* fonts */




/* main text color */
:root {
    --main-text-color: #757575;
    --secondary-text-color: #212121;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    color: #757575;
    background-color: bisque;
}   
body {
font-family: 'Roboto', sans-serif;

font-weight: 500;
font-size: 14px;
line-height: 1.14;  
letter-spacing: 0.02em;
color: #212121;
}

/* index styling */
            /* head */

.logo {
font-family: 'Raleway', sans-serif;

font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;

}
span {
    color: black;
}
.nav-list-link {
font-family: 'Roboto', sans-serif;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.nav-list-link:hover, :focus{
    color: #2196F3;
}

.header-contacts-mail {
font-family: 'Roboto', sans-serif;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #757575;
}
.header-contacts-mail:hover, :focus {
    color: #2196F3;
}
.header-contacts-tell {
font-family: 'Roboto', sans-serif;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #757575;
}
                 /*  Hero  */

.hero {
font-family: 'Roboto', sans-serif;

text-align: center;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.hero-button {
    cursor: pointer;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
}
                    /* advantages */
.advantages-item {
    font-family: 'Roboto', sans-serif;
    
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.advantages-text {
    font-family: 'Roboto', sans-serif;
    
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
        /* Specialization */
.specialization {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    
    letter-spacing: 0.03em;
    color: #212121;
}
                /* Team */
.team {
font-family: 'Roboto', sans-serif;
text-align: center;
font-weight: bold;
font-size: 36px;
line-height: 1.17;

letter-spacing: 0.03em;

color: #212121;
}
.team-member {
font-family: 'Roboto', sans-serif;
text-align: center;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #212121;
}
.team-specific {
font-family: 'Roboto', sans-serif;
text-align: center;
font-weight: normal;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #757575;
}
         /* footer */
.footer-logo {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;

letter-spacing: 0.03em;

color: #2196F3;
}
.footer-logo-color {
    color: #FFFFFF;
}
.footer-adress {
    font-family: 'Roboto', sans-serif;
    
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}
.footer-contacts {
font-family: 'Roboto', sans-serif;

font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
